<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'CSS/blog_style.css' %}">
        <meta charset="UTF-8">
        <meta name="description" content="Zach Porteous">
        <meta name="keywords" content="GIS, Geospatial,Humboldt,Cartography, Web Development">
        <meta name="author" content="Zach Porteous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class='header'>
                
            </div>
            <div class='sidebar'>
                <div class='side-header'>
                    Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea
                     sint velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip s
                     it in amet. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum n
                     on aute aliqua nisi id.
                </div>
                <div class='side-row'>
                    
                </div>
                <div class='side-row'>
                    
                </div>
                <div class='side-row'>
                    
                </div>
            </div>
            <div class='content-view'>
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea si
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id
                Nisiad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea s
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi i
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea si
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea si
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea s
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea si
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea si
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea s
                nt velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in a
                met. Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua n
                isi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet
                . Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sin
                t velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. 
                Ut nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.

            </div>
            <div class='footer'>
                Nisi ad laboris labore fugiat incididunt dolor ex non cillum aliqua veniam ullamco non. Et ea sint 
                velit labore dolor mollit elit eu adipisicing anim ex. Amet velit duis mollit aliquip sit in amet. Ut
                 nostrud sit nisi sit veniam dolor velit esse est ex quis non. Officia ipsum non aute aliqua nisi id.
            </div>
        </div>
    </body>
</html>