body{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration:none;
    color:black;
    z-index: 100;
}

.container { 
    background: radial-gradient(at 20% 80%, #5fd6d6,#FFFFFF 12% );
    width: 100%;
    height: 100%;
    position:absolute;
}

.overlay {
    width: 100%;
    height: 100%;
    background:white;
    position:absolute;
    animation-name: fade-in;
    animation-duration: 1.3s;
    animation-fill-mode:forwards;
    animation-delay: 1.3s;
}

#det-container {
    float: right;
    background-color: grey;
    margin-right: 10%;
}

@keyframes fade-in {
    0% { opacity: 1;}
    100% { 
        opacity: 0; 
        visibility:hidden;
    }
}
#welcome-login {
    margin-left:10%;
    margin-top:5%;
}

/* db bin */

.cube {
    /*margin: 0 auto;
    margin-top: auto;*/
    position: absolute;
    top: 55%;
    left: 20%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 300px;
}

#btop {
   
    animation-name: top;
    animation-duration: 1.1s;
    animation-fill-mode:forwards;
    position: relative;
}

#opt-1 {
    position: absolute;
    text-align:center;
    transform: translate(5px,-360px);
    transition: transform .5s;
}

#b1 {
    transform: translateY(-50%);
   animation-name: pieces;
   animation-duration: 1.2s;
   animation-fill-mode:forwards;
   position: relative;
   
}

#opt-2 {
    position: absolute;
    text-align:center;
    transform: translate(5px,-290px);
    transition: transform .5s;
}

#b2 {
    transform: translateY(-100%);
    animation-name: pieces;
    animation-duration: 1.3s;
    animation-fill-mode:forwards;
    position: relative;
}

#opt-3 {
    position: absolute;
    text-align:center;
    transform: translate(5px,-225px);
    transition: transform .5s;
}


 #b3 {
    transform: translateY(-150%);
    animation-name: pieces;
    animation-duration: 1.4s;
    animation-fill-mode:forwards;
    position: relative;
 }

 #opt-4 {
    position: absolute;
    text-align:center;
    transform: translate(5px,-160px);
    transition: transform .5s;
}

#opt-1:hover {
    transform: translate(20px,-360px);
}
 #opt-2:hover {
    transform: translate(20px,-290px);
}
#opt-3:hover {
    transform: translate(20px,-225px);
}
#opt-4:hover {
    transform: translate(20px,-160px);
}



 @keyframes top {
    0% {top:-1000px;}
    50%{ top:-10px}
    100% {top:0px}
}

@keyframes pieces {
    0% {top:-1000px;}
    50%{ top:-50px}
    75% {top:50px}
    100% {top: 0px;}
}

/* end db bin */

/*@media only screen and (max-width:1400px){

    .cube {
    
        width: 30%;

    }
}*/